* {
    margin: 0.5em ; 
    padding: 0.2em ;
}
body {
    font-family: "Comic sans MS", cursive, sans-serif;
    background-image: url(65556561-800x534.jpg);
    background-size: 120% auto;
    }
nav {
    font-size: 20px;
    }  
a:link {
    text-decoration: none;
    color: white;
    }
a:visited {
    text-decoration: none;
    }
a:hover {
    text-decoration: underline;
    }
a:active {
    text-decoration: underline;
    }
h1 {
    font-size: 30px;
    color: white;
    text-align: center;
    }
select {
    background-color: white;
    border-radius: 10px;
    border-color: bisque;
    font-size: 18px;
    color: brown;
    text-align: left;
}
 table {
    background-color: white;
    border-radius: 25 px;
    border-color: bisque; 
    text-align: center; 
     }
p {
    font-size: 27px;
    color: brown;
    text-align: center;
}
p1 { 
    font-size: 25px;
    color: lightskyblue;
    text-align: center;
}
    
p2 {
    font-size: 20px;
    color: saddlebrown;
}
